<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304428649917-qe4phj7j9unkkgkv9mkjsiqvr68ao2d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304428649917-qe4phj7j9unkkgkv9mkjsiqvr68ao2d6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>304428649917-d0bpqcvn77b3j7rukd75mr65ot4iqdlk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOjjtsri1xCFDvGK4yWljqIuQYHJf2iHk</string>
	<key>GCM_SENDER_ID</key>
	<string>304428649917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.naftacredit.dev</string>
	<key>PROJECT_ID</key>
	<string>nafta-credit</string>
	<key>STORAGE_BUCKET</key>
	<string>nafta-credit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304428649917:ios:1404a591c27b54f3c896d4</string>
</dict>
</plist>